<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jefftharris.passwdsafe"
      android:versionName="2.0.0" android:versionCode="20000">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="PasswdSafeApp" android:description="@string/app_desc">
        <activity android:name=".FileList"
                  android:label="@string/app_name" android:clearTaskOnLaunch="true" android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PasswdSafe"
                  android:label="@string/app_name" android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="com.jefftharris.passwdsafe.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
            </intent-filter>
            
            <!--  Web browser -->
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            -->

            <!-- Dropbox, Astro -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data scheme="file"/>
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/x-psafe3"/>
                <data android:mimeType="application/x-psafe"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data scheme="file"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:mimeType="application/x-ns-proxy-autoconfig"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".Preferences"
                  android:label="@string/app_name"
                  android:finishOnTaskLaunch="true"/>
                  
        <activity android:name=".RecordEditActivity"
                  android:label="@string/app_name" 
                  android:finishOnTaskLaunch="true"/>
    
        <activity android:name=".RecordView"
                  android:label="@string/app_name" 
                  android:finishOnTaskLaunch="true"/>
    
        <receiver android:name=".PasswdSafeApp$FileTimeoutReceiver">
            <intent-filter>
                <action android:name="com.jefftharris.passwdsafe.action.FILE_TIMEOUT"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest> 