<?xml version="1.0" encoding="utf-8"?>
<!--
    Version code format for version x.y.z and API base a: aaxxyyzz
    If the API base is 3, a is blank and so is the first x. 
    E.g. 3.6.0 for API 3 is 30600 and API 11 is 11030600.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jefftharris.passwdsafe"
      android:versionName="3.12.0" android:versionCode="31200"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="PasswdSafeApp" android:description="@string/app_desc">
        <activity android:name=".FileList"
                  android:label="@string/app_name" android:clearTaskOnLaunch="true" android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PasswdSafe"
                  android:label="@string/app_name" 
                  android:finishOnTaskLaunch="true"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.jefftharris.passwdsafe.action.NEW"/>
                <action android:name="com.jefftharris.passwdsafe.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
            </intent-filter>
            
            <!--  Web browser -->
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
            -->

            <!-- Dropbox, Astro -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file" android:host="*"/>
                <!-- Handle some number of '.'s in the path -->
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\..*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\.ibak" />
                <data android:pathPattern=".*\\..*\\..*\\.ibak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ibak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ibak" />
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/x-ibak"/>
                <data android:mimeType="application/x-psafe"/>
                <data android:mimeType="application/x-psafe3"/>
                <data android:mimeType="application/application/octet-string"/>
                <data android:mimeType="application/application/x-ibak"/>
                <data android:mimeType="application/application/x-psafe"/>
                <data android:mimeType="application/application/x-psafe3"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file" android:host="*"/>
                <!-- Handle some number of '.'s in the path -->
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dat" />
                <data android:mimeType="application/x-ns-proxy-autoconfig"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file" android:host="*"/>
                <!-- Handle some number of '.'s in the path -->
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\..*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.psafe3" />
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dat" />
                <data android:pathPattern=".*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\.ibak" />
                <data android:pathPattern=".*\\..*\\..*\\.ibak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ibak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ibak" />
            </intent-filter>
            
            <!-- Content providers - e.g. mail app attachments -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/psafe3"/>
                <data android:mimeType="application/psafe"/>
                <data android:mimeType="application/dat"/>
                <data android:mimeType="application/x-psafe3"/>
                <data android:mimeType="application/x-psafe"/>
                <data android:mimeType="application/x-dat"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>
            
            <!--  Search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
             <meta-data android:name="android.app.searchable"
                        android:resource="@xml/searchable"/>
        </activity>
        
        <activity android:name=".Preferences"
                  android:label="@string/app_name"
                  android:finishOnTaskLaunch="true"/>
                  
        <activity android:name=".RecordEditActivity"
                  android:label="@string/app_name" 
                  android:finishOnTaskLaunch="true"/>
    
        <activity android:name=".RecordView"
                  android:label="@string/app_name" 
                  android:finishOnTaskLaunch="true"/>
    
        <activity android:name=".RecordSelectionActivity"
                  android:label="Record selection"
                  android:theme="@android:style/Theme.Dialog"
                  android:finishOnTaskLaunch="true"/>
                  
        <activity android:name=".LauncherFileShortcuts"
                  android:label="@string/password_file"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    
        <activity android:name=".LauncherRecordShortcuts"
                  android:label="@string/password_record"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    
        <receiver android:name=".PasswdSafeApp$FileTimeoutReceiver">
            <intent-filter>
                <action android:name="com.jefftharris.passwdsafe.action.FILE_TIMEOUT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest> 