<!--
  ~ Copyright (©) 2015 Jeff Harris <jefftharris@gmail.com>
  ~ All rights reserved. Use of the code is allowed under the
  ~ Artistic License 2.0 terms, as specified in the LICENSE file
  ~ distributed with this code, or available from
  ~ http://www.opensource.org/licenses/artistic-license-2.0.php
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jefftharris.passwdsafe.sync.onedrive">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
        >

    </application>

</manifest>
