<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.box.sdk.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <application>
        <activity
            android:name="com.box.androidsdk.content.auth.OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
    </application>
</manifest>
