<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jefftharris.passwdsafe.sync"
    android:versionCode="10000"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"/>

    <permission
        android:name="com.jefftharris.passwdsafe.sync.provider.permission.ACCESS"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.jefftharris.passwdsafe.client.provider.permission.ACCESS"/>
    <uses-permission android:name="com.jefftharris.passwdsafe.sync.provider.permission.ACCESS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=704216087822-7ckont6g0pt1l2koarumlee2mgqllnr4" />
            <!--
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=704216087822-dlusebuosvkokis6olqvtr1s3f44s5jk" />
                -->
        </activity>

        <provider
            android:name=".PasswdSafeProvider"
            android:authorities="com.jefftharris.passwdsafe.sync.provider"
            android:permission="com.jefftharris.passwdsafe.sync.provider.permission.ACCESS"
            android:exported="true"
            android:syncable="true">

            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <service
            android:name="com.jefftharris.passwdsafe.sync.GDriveSyncService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
