<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (©) 2016 Jeff Harris <jefftharris@gmail.com>
  ~ All rights reserved. Use of the code is allowed under the
  ~ Artistic License 2.0 terms, as specified in the LICENSE file
  ~ distributed with this code, or available from
  ~ http://www.opensource.org/licenses/artistic-license-2.0.php
  -->
<manifest package="net.tjado.passwdsafe"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto"
          tools:ignore="UnusedAttribute">

    <permission
        android:name="net.tjado.passwdsafe.client.provider.permission.ACCESS"
        android:protectionLevel="signature"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--Before Android 12-->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!--From Android 12-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="net.tjado.passwdsafe.client.provider.permission.ACCESS"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>

    <queries>
        <provider android:authorities="net.tjado.passwdsafe.file" />
    </queries>

    <application
        android:name=".PasswdSafeApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:description="@string/app_desc"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PwsAppTheme">
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>

        <!-- Single UI-activity -->
        <activity
            android:name=".PasswdSafe"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>


            <!-- View files -->
            <intent-filter>
                <action android:name="net.tjado.passwdsafe.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
            </intent-filter>

            <intent-filter>
                <action android:name="net.tjado.passwdsafe.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.jefftharris.passwdsafe.sync.provider.files"/>
            </intent-filter>

            <!-- New files -->
            <intent-filter>
                <action android:name="net.tjado.passwdsafe.action.NEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
            </intent-filter>

            <intent-filter>
                <action android:name="net.tjado.passwdsafe.action.NEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.sync.provider.files"/>
            </intent-filter>

            <intent-filter>
                <action android:name="net.tjado.passwdsafe.action.NEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Local files (legacy) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="*" android:scheme="file"/>
                <!-- Handle some number of '.'s in the path -->
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\..*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ibak"/>
                <data android:mimeType="*/*"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="application/x-ibak"/>
                <data android:mimeType="application/x-psafe"/>
                <data android:mimeType="application/x-psafe3"/>
                <data android:mimeType="application/application/octet-string"/>
                <data android:mimeType="application/application/x-ibak"/>
                <data android:mimeType="application/application/x-psafe"/>
                <data android:mimeType="application/application/x-psafe3"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="*" android:scheme="file"/>
                <!-- Handle some number of '.'s in the path -->
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dat"/>
                <data android:mimeType="application/x-ns-proxy-autoconfig"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="*" android:scheme="file"/>
                <!-- Handle some number of '.'s in the path -->
                <data android:pathPattern=".*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.psafe3"/>
                <data android:pathPattern=".*\\.dat"/>
                <data android:pathPattern=".*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.dat"/>
                <data android:pathPattern=".*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\..*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ibak"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ibak"/>
            </intent-filter>

            <!-- Content providers - e.g. opening from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:mimeType="application/psafe3"/>
                <data android:mimeType="application/psafe"/>
                <data android:mimeType="application/dat"/>
                <data android:mimeType="application/x-psafe3"/>
                <data android:mimeType="application/x-psafe"/>
                <data android:mimeType="application/x-dat"/>
                <data android:mimeType="application/application/x-psafe3"/>
                <data android:mimeType="application/application/x-psafe"/>
                <data android:mimeType="application/spplication/x-dat"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>

            <!-- Google Files app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"
                    android:host="com.google.android.apps.nbu.files.provider"
                    android:mimeType="*/*"/>
            </intent-filter>

            <!-- Search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".UsbGpgBackupActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".LauncherFileShortcuts"
            android:label="@string/password_file"
            android:theme="@style/PwsAppTheme_Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LauncherRecordShortcuts"
            android:label="@string/password_record"
            android:theme="@style/PwsAppTheme_Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".otp.AddActivity"
            android:label="Add Token"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateVisible"
            />

        <activity
            android:name=".otp.ScanActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            />

        <provider
            android:name=".file.PasswdClientProvider"
            android:authorities="net.tjado.passwdsafe.client.provider"
            android:exported="true"
            android:permission="net.tjado.passwdsafe.client.provider.permission.ACCESS"
            android:syncable="false">
        </provider>

        <receiver
            android:name="net.tjado.passwdsafe.ExpirationTimeoutReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="action.EXPIRATION_TIMEOUT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.tjado.passwdsafe.lib.StartupReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="net.tjado.passwdsafe.UsbGpgBackupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                       android:resource="@xml/device_filter" />
        </receiver>

        <service
            android:name="net.tjado.passwdsafe.PasswdSafeIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method"/>
        </service>
    </application>

</manifest>
